body {
    background-image: url("../images/texas-bg.jpg");
}

#title {
	font-size: 2em;
}

#button {
	padding: 0px;
}

h4 {
	color: black;
	font-family: "Audiowave";
	text-align: center;
	margin: 1px;
}

#quote {
	padding-top: 15px;
	padding-bottom: 20px;
	width: 800px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	margin: auto;
	font-family: "Audiowave";
}

#media-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
   display: -webkit-flex;
   display: flex;
}



