body {
	background-color: #00358F;
}

h1 {
	font-family: "Buffalo Western";
	color: red;
}

h3, h6 {
	color: red;
	text-align: center;
}

#button {
	background-color: gray;
	color: pink;
	margin: 0 auto;
	display: block;
	font-family: "Buffalo Western";
}

.twitter-share-button {
	text-align: center;
	margin: 0 auto;
	display: inline;
}

#quote {
	background-colour: #A41333;
	border-radius: 15px;
	color:white;
}

