body {
	/*background-color: #00358F;*/
    background-image: url("../images/texas-bg.jpg");
}

p {
	color: white;
	text-align: center;
	font-size: 20px;
}

h1 {
	font-family: "Audiowide";
	font-size: 1.8em;
	color: white;
	text-align: center;
	padding-top: 15px;
}

#title {
	font-size: 2em;
}

#button {
	display: inline;
	margin: 0 auto;
}

h3 {
	color: #940F2B;
	text-align: center;
	color: red;
	margin: 1px;
}

#quote {
	padding-top: 15px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	text-align: justify;
}
#media-buttons {
	margin: 0 auto;
	display: block;
	width: 100%;
}

/*#twitterbutton, #followbutton {
	width: 200px;
	float: left;
	margin: 0 auto;
}

#twitterbutton {
	padding-left:100px;
}*/


